<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<button onclick="TogetherJS(this); return false;">Start TogetherJS</button>

<div>
  <label>PDF src</label>
  <input type="text" placeholder="PDF src" [(ngModel)]="pdfSrc">
</div>
<div>
  <label>Page:</label>
  <input type="number" placeholder="Page" [(ngModel)]="page">
</div>
<pdf-viewer [src]="pdfSrc"
            [page]="page"
            [original-size]="true"
            [show-all]="true"
            style="display: block;"
></pdf-viewer>

